html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
a:before, a:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
	font-size:100%;
}
legend {
	color:#000;
}

body{
	color: #fff;
	font: 100% Arial, Helvetica, sans-serif;
	width: 80%; /*850px*/
	background: #E9F0E0; /* Old browsers */
	background: -moz-linear-gradient(top,  #ECEEE1 0%, 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECEEE1), color-stop(100%,#E9F0E0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ECEEE1 0%,#E9F0E0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ECEEE1 0%,#E9F0E0 100%); /* Opera 11.10+ */
	background: -linear-gradient(to bottom,  #ECEEE1 0%,#E9F0E0 100%); /* W3C */
	margin: 0 auto;
}

h1{	
	height: 100px;
	background-color:#0e2200;
	margin: 0 auto;
	font-size: 2.25em; /*36px*/
	text-align: center;
	margin-bottom: 15px;
}

#logo{
	width: 7.529411764706%;
	border: 2px solid #0e2200;
	float: left;
	margin-left: 50px;
}

nav .main {
	width: 82.352941176471%; /*800px*/
	margin: 0 auto;
	text-align: center;
}


nav{
	font-size: 1.125em;

}

nav ul{
	list-style-type: none;
}

nav li{
	float:left;
	width:14.28571428571429%;
}

nav a{
	display: block;
	text-decoration: none;	
	text-align:center;
	margin-bottom: 30px;

}

nav a:visited{
	background-color: #ccbbaa;
}

nav a:hover{
	background-color: #DBCFC4;
}

nav a:active{
	background-color: #E0D6CC;
}

#audience {
	width: 50.705882352941%;
 	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

#imageholder {
	width: 41.176470588235%;
	border: 1px solid #000;
	float: right; 
	margin: 30px;
}

img {
	width: 100%;
}

#information { 
	width: 58.352941176471%; /*496px*/
	text-align: center;
	margin: 0 auto;
}
 #information h2, h3, h4, h5, h6, h7, h8{
 	color: #322;
 	font-size: 1.5em;
}

#img {
	clear: both;	
}

#contact {
	width: 35%; /*128px*/
	float: right;
	margin-right: 100px;

}

footer  {	
	width: 400px;
	clear: both;        
	display: block;
	font-size: .75em; /*12px*/
	text-align: center;
	margin-bottom: 30px;
	margin: 0 auto;
}

#footer ul{
	list-style-type: none;
}
#footer li{
	width: 25%;
	float:left;
}

#footer nav a{
	display: block;
	text-decoration: none;	
	text-align: center;
	margin-bottom: 30px;
}

#copyright {
	clear: both;
	font-size: .75em; 
	color: #887711;
	text-align: center;

}

.main_paragraph {
	clear: both;
	padding: 30px;
	color: #552200;
	font-size: 1.625em; /*26px*/
}
form_wrapper {
	float: right;
}
#form_wrapper p{
	padding: 5px;
	color:#000;
	font-size: 1.125em;
	margin:5px;
	margin-left: 20px;
}

#form_wrapper label {
	margin: 10px;
}
 #form_wrapper h3{
 	margin-left: 40px;
 }
 
 #img_audition{
 	width: 35.294117647059%;
 	float: right;
 	margin-right: 30px;
 }

#field-agree-tos label {
	color: #000;
	padding-right: 40px;
}
#img_donate{
	width: 42.470588235294%;
	border: 1px solid #fff;
	float: left;
	margin-right: 10px;
	margin-left: 30px;
}
#information p{
	color: #353535;
	padding: 3px;
}

#donate_page{
	color: #353535;
	padding: 3px;
}

#donate_page h2{
	font-size:1.25em;
	font-weight:700;
	text-align:center;
}


#donate_page p{
	font-size:14px;
	padding: 5px;
}


#financial li{
	color: #353;
	padding: 3px;
}

#financial {
	color: #353;
	text-align: center;
}
#financial h3{
	font-size:1.25em;
	font-weight:700;
	text-align:center;
}

#auditions{
	padding: 10px;
}

#auditions  h3, h4{
	font-size:1.25em;
	font-weight:700;
	text-align:center;
}

#auditions p{
	font-size: 1em;
	color: #000;
}

h2 {
font-size: 1.5em;
	color: #000;
	text-align: center;		
}

#mailing {
	padding: 5px;
	margin: 10px;
}

#mailing p{
	margin-bottom: 5px;
	margin-left: 10px;
}

#mailing type {
	margin-left: 10px
}

#mailing label {
	color: #000;
	text-align: left;
}

section {
	color:#000;
	font-size: 1em;
}

section ul li{
	color:#000;
	font-size: 1em;
}

#newsletter_container{
	width: 64px;
	height: 64px;
	margin-right: 80px;
	float: right;
}

#seating {
	width: 58.823529411765%; /*500px*/
	margin-left: 30px;
 
}

/*-----------------Media Queries--------------------*/

@media screen and (min-width: 768px) and (max-width: 960px) {
	body{
		margin: 0 auto;
}

#logo{
	width: 7.529411764706%;
	border: 2px solid #0e2200;
	float: left;
	margin-left: 50px;
}
	h1{
		width: 100%;
		height: 50px;
		display: block;
		margin: 0 auto;
		background-color: #333300;
		font-family: 'Stint Ultra Condensed', cursive;
		font-size: 2.25em; /*36px*/
		text-align: center;
		margin-bottom: 30px;
}
		nav li{
			width: 33.333333333333%; /*100px*/  

}
		nav{
			width: 94.117647058824%; /*800px*/

}
		nav  a{
		border: 0; 
		text-decoration: none;	
		text-align:center;
		margin-bottom: 30px;
		clear: both;
}

		body, nav{
			font-size: 0.8125em; /*13px*/
}

}

@media screen and (min-width: 480px) and (max-width: 767px){
		body{
			margin: 0 auto;
}
		#logo{
		width: 7.529411764706%;
		border: 2px solid #0e2200;
		float: left;
		margin-left: 50px;
}
		
		#image_holder{
		clear:both;
	
	}
		nav  a{
		text-decoration: none;	
		text-align:center;
		margin-bottom: 30px;
		clear:both;
}

		aside, #men{
			display: none;
}

		body, nav{
			font-size: 0.8125em; /*13px*/
}

}
@media screen(max-width: 479px){ 
	body{
		margin: 0 auto;

}



	h1{
		width: 100%;
		height: 50px;
		margin: 0 auto;
		background-color: #333300;
		font-size: 2.25em; /*36px*/
		text-align: center;
		margin-bottom: 15px;
}

	 nav li{
	 	clear: both;
	 	width: 100%;
		float: none; 
}


	nav  a{
		text-decoration: none;	
		text-align:center;
		font-size: 2em;		
}

	#imageholder {
		display: none;
}
	#audience {
		display: none;		
}
	#information {
	display: none;
}
footer {	
	width: 400px;
	clear: both;        
	display: block;
	font-size: .75em; /*12px*/
	text-align: center;
	margin-bottom: 30px;
	margin: 0 auto;
}

#footer ul{
	list-style-type: none;
}
#footer li{
	width: 15%;
	float:left;
}

#footer nav a{
	display: block;
	text-decoration: none;	
	text-align: center;
	margin-bottom: 30px;
}

	body, nav, footer nav{
			font-size: 0.8125em; /*13px*/
}
}
