body{
	color: #fff;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	width: 80%; /*850px*/
	background-image: url(../images/wood2.jpg);
	margin: 0 auto;
}


h1{	
	width: 100%;
	display: block;
	margin: 0 auto;
	background-color: #000;
	font-size: 2.25em; /*36px*/
	text-align: center;
	margin-bottom: 25px;
}


nav{
	margin-bottom: 25px;
	font-size: 2em;
	float: right;
}

nav ul{
	
	list-style-type: none;
}

nav a{
	
	text-decoration: none;	
}
#imageholder {
	width: 41.176470588235%;
	border: 4px solid #000;
	float: right; 
}

img {
	width: 100%;
}

#information { 
	clear: both;
	width: 58.352941176471%; /*496px*/
	border: 4px solid #000;
	
}
#men{
		float: left;
		width: 400px;
		border: 2px solid #000;
}
aside {
	clear: both;
	border: 2px solid #000;
	background-image: url(../images/wood7.jpg);	
	
}
	
blockquote {
	color: #fff;
}	
 