body{
	color: #fff;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	width: 65%; /*850px*/
	margin: 0 auto; 
	background-color: #7D4B4B;
	background-image: url(../images/wood2.jpg);

}

menu_container{
	width: 250px;
	display: block;
	
}